<div class="table-container">
    <h1 class="comment-notes">Current Users: <%= User.count %></h1><br>
    <h2 class="ahoy-visits"><%= column_chart Ahoy::Visit.group_by_day(:started_at).count %></h2>
    <table class="user-list-table">
        <th>Emails</th>
        <th>Subscription</th>
        <th>Home Page Visits</th>
        <% @users.each do |user| %>
            <tr>
                <td><%= user.email.truncate(20) %></td>
                <% if user.subscription? %>
                    <td class="subbed-text">Subscribed</td>
                <% else %>
                    <td class="unsubbed-text">Not Subscribed</td>
                <% end %>

                <% if user.visits.count == 0 %>
                  <td class="visit-black"><%= user.visits.count %></td>
                <% elsif user.visits.count > 0 && user.visits.count <= 5 %>
                  <td class="visit-green"><%= user.visits.count %></td>
                <% elsif user.visits.count > 5 && user.visits.count <= 15 %>
                  <td class="visit-blue"><%= user.visits.count %></td>
                <% elsif user.visits.count > 15 %>
                  <td class="visit-red"><%= user.visits.count %></td>
                <% end %>
            </tr>
        <% end %>
    </table>
</div>
