<%= form_for @post do |f| %>
  <div class="form-field">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control"  %>
  </div><br>
  <div class="form-field">
    <%= f.label :body %>
    <%= f.cktext_area :body, class: "form-control"  %>
  </div><br>
  <div class="file-field">
    <%= f.label :cover %>
    <%= f.file_field :cover %>
  </div><br>
  <div class="form-field">
    <%= f.label "Save as Draft" %>
    <%= f.check_box :draft %>
  </div><br>
  <div class="form-field">
    <%= f.label "Send notification emails?" %>
    <%= f.check_box :notify %>
  </div><br>
  <div class="form-field">
    <%= f.submit "Save", class: "btn btn-info" %>
  </div><br>
<% end %>
