<div class="row">
    <div class="col-md-12">
        <div class="jumbotron text-center blog-banner">
          <% if current_user && current_user.admin? %>
            <p class="comment-notes"><%= link_to "Current Users", users_path, class: "current-users-txt" %></p>
          <% end %>
            <h1 class="font-italic title-font banner-title-text">Robin And Gloria's Blog Posts</h1>
            <% if current_user && current_user.subscription? %>
               <%= link_to "Unsubscribe", subscribe_posts_path, class: "rfp-btn btn btn-lg btn-info" %>
            <% elsif current_user %>
               <p class="guest-text text-info"> Click subscribe for email notifications of new posts</p>
               <%= link_to "Subscribe", subscribe_posts_path, class: "rfp-btn btn btn-lg btn-info" %>
            <% else %>
                <p class="guest-text text-info">Sign up or log in to an existing account to enjoy full access</p>
                <%= link_to "Sign up",  new_user_registration_path, class: "rfp-btn btn btn-lg btn-info" %>
            <% end %>
        </div>
    </div>
</div><br><br>

<% if current_user && current_user.admin? %>
    <div class="row">
        <div class="col-md-12 text-center">
            <%= link_to "Create New Post", new_post_path, class: "rfp-btn btn btn-lg btn-info" %>
        </div>
    </div><br>
<% end %>

<%= render 'posts' %>
