<main class="container">
  <div class="row post-show-title text-center">
    <div class="col-md-12">
      <h1 class="font-italic title-font text-center"><%= @post.title %></h1>
    </div>
  </div><br>
  <div class="row">
    <div class="text-center post-show-title-image-banner">
       <%= image_tag("#{@post.cover}", alt: "Cover Image for #{@post.title}", class: "cover-image-show") %>
     </div>
  </div><br>
  <div class="row">
    <div>
      <div class="post-show-blog">
        <p><%= raw @post.body %></p>
      </div><br>

        <div class="like-post-container">
            <%= link_to like_post_path(@post, like: true), method: 'post', remote: true do %>
                <span class="like-text-post">Like Post</span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                <span id="post_<%= @post.id %>_likes"><%= @post.likes.size %></span>
            <% end %>
        </div><br>
  
      <% if current_user %>
        <%= render 'comments/form', comment: Comment.new, post: @post %>
      <% else %>
        <h3 class="font-italic comment-notes">You must be signed in to comment</h3><br>
      <% end %>
      <h3 class="comment-header font-italic">Comments</h3><br>
      <div class="comments-display<%=@post.id%>">
        <%= render 'comments/comment' %>
      </div>
    </div>
  </div><br>
</main>
