<!DOCTYPE html>
<html>
    <head>
        <title>RobinsBlog</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body class="<%= controller_name %> <%= action_name %>">
        <header>
            <nav class="navbar navbar-expand-sm navbar-light navvy">
                <%= link_to "Robins Blog", root_path, class: "navbar-brand navbar-font font-italic" %>
                <button class="navbar-toggler custom-toggler" data-toggle="collapse" data-target="#navbarMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarMenu">
                    <ul class="navbar-nav ml-auto font-italic">
                        <% if current_user && current_user.admin? %>
                            <li class="nav-item cust-nav-item"><%= link_to "Drafts", draft_posts_path, class: "nav-link nav-link-font" %></li>
                        <% end %>
                        <% if current_user %>
                            <li class="nav-item cust-nav-item"><%= link_to "Home", root_path, class: "nav-link nav-link-font" %></li>
                            <li class="nav-item cust-nav-item"><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link nav-link-font" %></li>
                            <li class="nav-item cust-nav-item"><%= link_to "#{current_user.username}", edit_user_registration_path, class: "nav-link nav-link-font" %></li>
                        <% else %>
                            <li class="nav-item cust-nav-item"><%= link_to "Home", root_path, class: "nav-link nav-link-font" %></li>
                            <li class="nav-item cust-nav-item"><%= link_to "Sign up", new_user_registration_path, class: "nav-link nav-link-font" %></li>
                            <li class="nav-item cust-nav-item"><%= link_to "Login",  new_user_session_path, class: "nav-link nav-link-font" %></li>
                        <% end %>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="flash">
          <%= render 'layouts/messages' %>
        </div>

        <div class="container-fluid">
          <%= yield %>
        </div>

    </body>
</html>
